@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
    padding: 0;
    margin: 0;
}

.App {
  background-color: #1e1e1e;
  color: white;
  font-size: 48px;
  text-align: center;
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 5%;
    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 350px;
      height: 350px;
      position: relative;
      background-color: whitesmoke;
      margin: 40px 10px;
      &:hover > .details {
        opacity: 0.85;
        cursor: pointer;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;        
      }
      .details {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        font-family: "Playfair Display", serif;
        font-size: 24px;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: rgb(34,149,243);
        background: linear-gradient(145deg, rgba(34,149,243,1) 0%, rgba(34,175,160,1) 100%);
        color: white;
        transition: opacity 0.45s ease-in-out;
      }
    }
  }
}
